$bgcolor: #4F6D7A;
$textcolor: #C0D6DF;

$primary: #22223B;
$secondary: #9A8C98;
$accent: #C9ADA7;
$button: #4A4E69;
$textcolor: #F2E9E4;


body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: $primary;
}